.sidebar {
    height: 100vh;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1.white-text {
    color: white;
}

.geolocations-container {
    padding-top: 5vh;
    height: 50vh;
    overflow-y: scroll;
}

.card {
    cursor: pointer;
}

.selectedLocation {
    border: #1677ff 2px solid;
}
